<!DOCTYPE html>
<html lang="en">
<head>
    <title>404 - Page has not been found</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="css/404.css" rel="stylesheet" type="text/css">
</head>
<body>
        <div class="container">
                <h1>404</h1>
                <hr>
                <p>The page you're looking for could not be found! We looked everywhere,
                     even on the Moon, but we couldn't find the thing! :(
                </p>
        </div>
</body>
</html>